<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xwb.mappers.TbMemorandumMapper" >
  <resultMap id="BaseResultMap" type="com.xwb.model.TbMemorandum" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="title_name" property="titleName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, start_time, end_time, title_name, description, user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_memorandum
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_memorandum
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xwb.model.TbMemorandum" >
    insert into tb_memorandum (id, start_time, end_time, 
      title_name, description, user_id
      )
    values (#{id,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{titleName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xwb.model.TbMemorandum" >
    insert into tb_memorandum
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="titleName != null" >
        title_name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="titleName != null" >
        #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xwb.model.TbMemorandum" >
    update tb_memorandum
    <set >
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="titleName != null" >
        title_name = #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xwb.model.TbMemorandum" >
    update tb_memorandum
    set start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      title_name = #{titleName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="findListByUserId" resultMap="BaseResultMap" >
  		select
  		<include refid="Base_Column_List" />
	    from tb_memorandum
	    where user_Id = #{userId}
  </select>
  <select id="findListByStartTime" resultMap="BaseResultMap" >
  		select
  		<include refid="Base_Column_List" />
	    from tb_memorandum
	    where user_Id = #{userId}
	    <if test="currentTime != null and currentTime != ''">
			<![CDATA[and start_time >=  CONCAT(#{currentTime},' 00:00:00') ]]>
		</if>
		
		<if test="currentTime != null and currentTime !='' ">
			<![CDATA[and start_time <  CONCAT(#{currentTime},' 23:59:59') ]]>
		</if>
  </select>
  
  <select id="findListByEndTime" resultMap="BaseResultMap" >
  		select
  		<include refid="Base_Column_List" />
	    from tb_memorandum
	    where user_Id = #{userId}
	    <if test="currentTime != null and currentTime != ''">
			<![CDATA[and end_time >=  CONCAT(#{currentTime},' 00:00:00') ]]>
		</if>
  </select>
</mapper>