<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <settings>
		打印查询语句
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>  -->
	<mappers>
		<mapper resource="com/xwb/mappers/xml/TbCityMapper.xml"/>
		<mapper resource="com/xwb/mappers/xml/TbCountyMapper.xml"/>
		<mapper resource="com/xwb/mappers/xml/TbProvinceMapper.xml"/>
		<mapper resource="com/xwb/mappers/xml/TbUserMapper.xml"/>
		<mapper resource="com/xwb/mappers/xml/TbMemorandumMapper.xml"/>
		<mapper resource="com/xwb/mappers/xml/TbForecastMapper.xml"/>
		<mapper resource="com/xwb/mappers/xml/TbWeatherMapper.xml"/>
		<mapper resource="com/xwb/mappers/xml/TbZhishuMapper.xml"/>
	</mappers>
	
</configuration>
